<app-header-main></app-header-main>

<app-general-bar>
  <br>
  <h2 style="text-align: center;">Categorias</h2>
  
  <div style="display: flex; justify-content: end;">
      <button type="button"  class="btn btn-success" (click)="Add()" >Nuevo</button>   
    </div>
    <br>
  <table class="table">
      <thead class="table table-danger">
        <tr>
          <th scope="col">NP</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Acciones</th>
        
        </tr>
      </thead>
      <tbody *ngFor="let indice = index; let Category of categories.data">
        <tr>
          <th scope="row">{{indice+1}}</th>
          <th scope="row">{{Category.name}}</th>
          <th scope="row">{{Category.description}}</th>
          <th>
            <div style="display: flex; flex-direction:row;">
            <button type="button" style="margin-right: 10px;" class="btn btn-danger" (click)="Delete(Category.id)">Eliminar</button>
            <button type="button" class="btn btn-primary" (click)="Edit(Category.id)">Editar</button>
            </div>
          </th>        
        </tr>
      </tbody>
    </table>
</app-general-bar>



