<app-header-main [userData]="currentUserData"></app-header-main>

<app-general-bar [rol]="currentRol"> 
  <br>
  <h2 style="text-align: center;">Ventas</h2>

  <div style="display: flex; justify-content: end;">
    <!-- <button  *ngIf="currentRol == 'admin'" type="button" class="btn btn-primary" (click)="Add()">Nuevo</button> -->
    <button type="button" class="btn btn-success" (click)="exportToExcel()">Exportar a Excel</button>
  </div>
  <div class="row g-3 align-items-center">
    <div class="col-auto">
        <label class="col-form-label">Busqueda: </label>
    </div>
    <div class="col-auto">
        <input id="txtBusqueda" type="text" class="form-control" aria-describedby="Filtro de busqueda">
    </div>
    <div class="col-auto">
        <span id="passwordHelpInline" class="form-text">
            Coloca una palabra clave para realizar la búsqueda
        </span>
    </div>
  </div>
  <br>
  <table class="table" id="tableCategories">
    <thead class="table table-danger">
      <tr>
        <th scope="col">NP</th>
        <th scope="col">Tipo</th>
        <th scope="col">Stripe_id</th>
        <!-- <th scope="col">Adrees_id</th> -->
      </tr>
    </thead>
    <tbody *ngFor="let indice = index; let Sale of Sale">
      <tr>
        <th scope="row">{{indice+1}}</th>
        <th scope="row">{{Sale.type}}</th>
        <th scope="row">{{Sale.stripe_id}}</th>
        <!-- <th scope="row">{{Sale.address_id}}</th> -->

        <th  *ngIf="currentRol == 'admin'">
          <div style="display: flex; flex-direction:row;">
            <!-- <button type="button" style="margin-right: 10px;" class="btn btn-danger"
              (click)="Delete(Category.id)">Eliminar</button>
            <button type="button" class="btn btn-primary" (click)="Edit(Category.id)">Editar</button> -->
          </div>
        </th>
      </tr>
    </tbody>
  </table>
</app-general-bar>