<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio de Sesión</title>
</head>

<body>
  <div class="login-container">
    <div class="tenedor">
      <img src="../../../assets/img/fondo.png" alt="Imagen de fondo" class="imagen-fondo">
      <div class="superpuesta-container">
        <img src="../../../assets/img/logo prin.png" alt="Imagen superpuesta" class="imagen-superpuesta">
      </div>
    </div>

    <div class="form-container">
      <h2 class="tituloLogin">Iniciar sesión</h2>
      <form [formGroup]="loginForm">


        <div class="form-group pt-3">
          <div class="input-icon-container"
            [class.error]="loginForm.controls['userName'].dirty && loginForm.hasError('required', 'userName')">
            <i class="fa-solid fa-user"></i>
            <input formControlName="userName" type="text" class="input-with-icon" placeholder="Usuario">
          </div>
        </div>

        <small *ngIf="loginForm.controls['userName'].dirty && loginForm.hasError('required', 'userName')"
          class="text-danger">*El usuario es requerido
        </small>

        <div class="form-group pt-3">
          <label for="email">Contraseña:</label>


          <div class="form-group pt-3">
            <div class="input-icon-container"
              [class.error]="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')">
              <span class="fa fa-lock p-2"></span>
              <input formControlName="password" [type]="type" class="input-with-icon" placeholder="Contraseña">
              
              <span (click)="ocultarContrasena()" class="fa {{eyeIcon}}"></span>
            
            </div>
            <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')"
              class="text-danger">*Contraseña requerida</small>
          </div>
        </div>
        <div class="d-grid gap-2">
          <button (click)="onLogin()" class="btn btn-primary" type="submit">Ingresar</button>
        </div>

        
        <div class="container">
          <img src="../../../assets/img/perritos_login.png" alt="Imagen de fondo" class="imagen-fondo">
        </div>
      </form>
    </div>
  </div>
</body>

</html>