/* Estilos generales */


.body{
    background-color: aqua;
}
.imagen-fondo {
    max-width: 100%; /* Imagen se ajustará a su contenedor */
    margin-top: 20px; /* Espaciado superior en dispositivos pequeños */
}
/* Títulos y etiquetas */
h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bolder
}

label {
    display: block;
    font-weight: bold;
}

/* Campos de formulario */
.form-group {
    margin-bottom: 15px;
}


/* Botón de inicio de sesión */
button {
    background-color: #9393C5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.form-control-feedback {
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }
  
  .form-control {
    padding-left: 30px!important;
    border-radius:  45px;
  }
 