<header class="barra">
    <div >
        <img src="../../../assets/img/canis-feliz logo del menu.png" alt="Foto de perfil" style="width: 60px; height: 60px; margin-left: 20%;">
    </div>
    <h1 style="font-family:Georgia, 'Times New Roman', Times, serif;"> Canis Feliz  </h1>
    <!-- <div class="search">
        <input type="text" placeholder="Buscar">
        <button><i class="fas fa-search"></i></button>
    </div> -->

    <nav>
<!--perfil con opciones-->
<img src="../../../assets/img/perfil.png" style="width: 25px; height: 25px;">
      {{ userData.name }}- 
      {{ userData.rol }}

  <!-- <button class="dropdown-item" type="button" (clic k)="logout()">Salir de sesión</button> -->

<!-- <div class="dropdown" PENDIENTEEEEE>
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Botón Dropdown
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#">Acción</a></li>
      <li><a class="dropdown-item" href="#">Otra acción</a></li>
      <li><a class="dropdown-item" href="#">Algo más aqui</a></li>
    </ul>
  </div>
        <h5>{{userData.name}}</h5>
        <h5>{{userData.rol}}</h5>
-->
    <button (click)="logout()" type="button" class="btn" style="padding: 4%;">Cerrar sesión</button>
<br>
       
    </nav>
</header>