<header class="barra">
    <div class="user-profile">
        <img src="../../../assets/img/canis-feliz logo del menu.png" alt="Foto de perfil">
    </div>
    <h1> Cro Caniz </h1>
    <div class="search">
        <input type="text" placeholder="Buscar">
        <button><i class="fas fa-search"></i></button>
    </div>

    <nav>
        <button (click)="logout()" type="button" class="btn btn-danger">Cerrar sesión</button>

        <!-- <div class="dropdown">
            <button type="button" class="btn btn-secondary dropdown-toggle" onclick="toggleDropdown()">Mostrar Lista</button>
            <div class="dropdown-content" id="myDropdown">
                <ul class="dropdown-list">
                    <li class="dropdown-item">Itemsss</li>
                    <li class="dropdown-item">Item 2</li>
                    <li class="dropdown-item">Item 3</li>
                </ul>
            </div>
        </div> -->
    </nav>
</header>