/* Estilos de la barra de navegación */
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-right: 20px;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Agregamos la transición de color */
}

/* Agregamos estilos para el efecto de iluminación */
nav a:hover {
    background-color: #007bff;
    color: #fff;
}

/* Estilos del panel de control */
.dashboard {
    display: flex;
    margin-top: 20px;
}

/* Estilos de la barra lateral (sidebar) */
.sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.sidebar h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease-in-out; /* Agregamos la transición de color */
}

/* Agregamos estilos para el efecto de iluminación */
.sidebar a:hover {
    color: #007bff;
}

/* Estilos del contenido principal */
.content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #000002;
    border-radius: 10px;
}



    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 10px 0;
    }

    nav li {
        margin: 5px;
    }

    .sidebar {
        background-color: #333;
        color: white;
        padding: 20px;
        width: 250px;
    }

    .sidebar h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .sidebar ul {
        list-style: none;
        padding: 0;
    }

    .sidebar li {
        margin-bottom: 10px;
    }

    .sidebar a {
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;
    }

    .sidebar img {
        margin-right: 10px;
        width: 20px; /* Ajusta el tamaño de la imagen según tus necesidades */
        height: 20px;
    }
    

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 120px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown-button {
        background-color: #333;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
    }

    .dropdown-button:hover {
        background-color: #555;
    }

    .dropdown-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .dropdown-item {
        padding: 10px;
        text-decoration: none;
        color: #333;
    }

    .dropdown-item:hover {
        background-color: #ddd;
    }


   
