
<div class="dashboard">
    <div class="sidebar">
        <h1><a href="https://backend.crocainz.live"></a>Dashboard</h1>
        <br>
        <ul>
            <li><a [routerLink]="['/products']"><img src="../../../assets/img/producto.png" style="width: 50px; height: 50px;"> Productos</a></li>
            <li><a [routerLink]="['/categories']"><img src="../../../assets/img/categorias.png" style="width: 50px; height: 50px;"> Categorias</a></li>
            <li><a [routerLink]="['/suppliers']"><img src="../../../assets/img/proveedores.png" style="width: 50px; height: 50px;"> Provedoores</a></li>
            <li><a [routerLink]=""><img src="../../../assets/img/ventas.png" style="width: 50px; height: 50px;"> Ventas</a></li>
            
        </ul>
    </div>

    <div class="content">
       
        <ng-content></ng-content>
    
    </div>

    
</div>